<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @whiskey.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @whiskey.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @whiskey.description %>
</p>

<p>
  <strong>Rate taste:</strong>
  <%= @whiskey.rate_taste %>
</p>

<p>
  <strong>Rate color:</strong>
  <%= @whiskey.rate_color %>
</p>

<p>
  <strong>Rate smokey:</strong>
  <%= @whiskey.rate_smokey %>
</p>

<%= link_to 'Edit', edit_whiskey_path(@whiskey) %> |
<%= link_to 'Back', whiskeys_path %>
